/.gradle/
/bin/
/build/
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/buil

/build*
/build/libs/SimulationEventProducer.jar
/build/reports/tests/test/classes/LibraryTest.html
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/css/style.css
/build/reports/tests/test/index.html
/build/reports/tests/test/js/report.js
/build/reports/tests/test/packages/default-package.html
/build/test-results/test/binary/results.bin
/build/test-results/test/TEST-LibraryTest.xml
